<center>
<style>
.signature, .title { 
float:left;
  border-top: 1px solid #000;
  width: 200px; 
  text-align: center;
}
</style>
<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #160054">
<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #160054">
       <span style="font-size:50px; font-weight:bold">Certificate of Appreciation<br></span>
       <span style="font-size:30px; font-weight:bold">For Donation</span>
       <br><br>
       <span style="font-size:20px"><i>Presented to</i></span>
       <br><br>
       <span style="font-size:30px"><b>Abhishek Satbhai</b></span><br/><br/>
       <span style="font-size:25px"><i>For your generous donation to the</i></span> <br/>
       <span style="font-size:25px"><i>Nashik City Police</i></span><br><br>
       <span style="font-size:25px"><b><i>01-Sep-2018</i><b></span><br>
<table style="margin-top:40px;float:left">
<tr>
<td><br><br><br><br><span><b>$student.getFullName()</b></td>
</tr>
<tr>
<td style="width:200px;float:left;border:0;border-bottom:1px solid #000;"></td>
</tr>
<tr>
<td style="text-align:center"><span><b>Signature</b></td>
</tr>
</table>
<table style="margin-top:40px;float:right">
<tr>
<td><br><br><br><br><span><b>$student.getFullName()</b></td>
</tr>
<tr>
<td style="width:200px;float:right;border:0;border-bottom:1px solid #000;"></td>
</tr>
<tr>
<td style="text-align:center"><span><b>Signature</b></td>
</tr>
</table>
</div>
</div>
</center>
 
<!--  Test the code here  -->
<!-- https://code.sololearn.com/WYutHoglWgMy/#html -->
